table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background-color: darkblue;
    color: white;
    padding: 8px;
    text-align: left;
}

td {
	
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

